<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{.Title}}</title>
</head>
<body>
{{if .Name}}
    <h1>Hi {{.Name}}</h1>
{{else}}
    <h1>Hi</h1>
{{end}}
<h1>Hes from {{.Address.Street}}</h1>
</body>
</html>