<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{.Title}}</title>
</head>
<body>
{{range $index, $element := .Hobbies}}
    <h1>Hobby - {{$index}}: {{$element}}</h1>
{{else}}
    <h1>You Don't Have a Hobby</h1>
{{end}}
</body>
</html>